django
psycopg2
djangorestframework
djangorestframework-simplejwt
python-dateutil
pandas
openpyxl
django-cors-headers
pillow
gunicorn
langchain
langchain-community
langchain-ollama
pdfminer.six 
python-docx
imap-tools