<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Apply loan</title>
    {% include 'header.html' %}
  </head>
  <body>
    <div class="container">
      <h1>Apply Loan</h1>
      <form action="{% url 'loan_create_template' %}" method="POST" >
        {% csrf_token %}
        <div class="form-group">
          <label for="loan_type">Loan Type</label>
          <!-- <input type="text" class="form-control" id="loan_type" name="loan_type" required> -->
          <select name="loan_type" id="loan_type" class="form-control" required>
            <option value=""></option>
            <option value="Loan">Loan</option>
            <option value="Advance salary">Advance Salary</option>
          </select>
        </div>
        <div class="form-group">
          <label for="loan_amount">Loan Amount</label>
          <input
            type="number"
            class="form-control"
            id="loan_amount"
            name="loan_amount"
            required
          />
        </div>
        <div class="form-group">
          <label for="repayment_type">Repayment Type</label>
          <select
            name="repayment_type"
            id="repayment_type"
            class="form-control"
            required
          >
            <option value=""></option>
            <option value="Monthly">Monthly</option>
          </select>
        </div>
        <div class="form-group">
            <label for="method">Choose Repayment Method</label>
            <select name="method" id="method" class="form-control" required>
                <option value=""></option>
                <option value="Percentage">Percentage of Salary</option>
                <option value="Fixed">Fixed Amount</option>
            </select>
        </div>

        <div class="form-group" >
            <label for="percentage_amount">Percentage of Salary</label>
            <input type="number" class="form-control" id="percentage_amount" name="percentage_amount" required>
        </div>

        <div class="form-group">
          <label for="fixed_amount">Fixed amount</label>
          <input
            type="number"
            class="form-control"
            id="fixed_amount"
            name="fixed_amount"
            required
          />
        </div>
        <div class="form-group">
          <label for="reasons">Reasons</label>
          <textarea
            class="form-control"
            id="reasons"
            name="reasons"
            rows="4"
            required
          ></textarea>
        </div>
        <button type="submit" class="btn btn-success">Apply</button>
        <a href="{% url 'loan_list_template' %}" class="btn btn-secondary"
          >Back</a
        >
      </form>
      <!-- <button class="btn btn-secondary"><a href="{% url 'loan_list_template' %}">Back</a></button> -->
    </div>
    <script>
      $(document).ready(function () {
        $("#loan_type").change(function () {
          var loan_type = $(this).val();
          if (loan_type == "Loan") {
            $("#repayment_type").prop("disabled", false);
            $("#percentage_amount").prop("disabled", false);
            $("#method").prop("disabled", false);
            $("#fixed_amount").prop("disabled", false);
          } else {
            $("#repayment_type").prop("disabled", true);
            $("#percentage_amount").prop("disabled", true);
            $("#method").prop("disabled", true);
            $("#fixed_amount").prop("disabled", true);
          }
        });
        $('#method').change(function (){
            var method = $(this).val();
            if (method == "Percentage"){
                $("#percentage_amount").prop("disabled", false);
                $("#fixed_amount").prop("disabled", true);
            }else if (method == "Fixed"){
                $("#percentage_amount").prop("disabled", true);
                $("#fixed_amount").prop("disabled", false);
            } 
            else {
                $("#percentage_amount").prop("disabled", true);
                $("#fixed_amount").prop("disabled", true);
            }
        });

        // $("form").on("submit", function (e) {
        //   var loanType = $("#loan_type").val();
        //   var loanAmount = $("#loan_amount").val();

        //   if (!loanType) {
        //     alert("Please select a Loan Type.");
        //     e.preventDefault();
        //     return false;
        //   }

        //   if (loanAmount <= 0) {
        //     alert("Loan Amount must be greater than 0.");
        //     e.preventDefault();
        //     return false;
        //   }

        //   if (loanType === "Loan") {
        //     var repaymentPeriod = $("#repayment_period").val();
        //     var monthlyEmi = $("#monthly_emi").val();

        //     if (repaymentPeriod <= 0) {
        //       alert("Repayment Period must be greater than 0.");
        //       e.preventDefault();
        //       return false;
        //     }

        //     if (monthlyEmi <= 0) {
        //       alert("Monthly EMI must be greater than 0.");
        //       e.preventDefault();
        //       return false;
        //     }
        //   }
        // });
      });
    </script>
  </body>
</html>
