<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>footer</title>
</head>
<body>
    <footer class="footer fixed-bottom bg-dark " style = "height:60px;">
        <!-- <div class="container text-right mt-3 "> -->
            <!-- <span class="text-white"> -->
                
            <!-- </span> -->
        <!-- </div> -->
        <p class ="text-right mr-5 mt-3 text-white" > {% now "y-m-d:H-i-s" %}</p>
    </footer>
</body>
</html>